<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWolrdExample from "./components/HelloWolrdExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponentVue from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponentVue />
    <br />
    <br />
    <FormBindings />
    <br />
    <br />
    <ConditionsAndLoops />
    <br />
    <AttributeBindings />
    <HandlingUserInput />
    <CalComponent />
    <HelloWolrdExample />
  </div>
</template>

<style scoped></style>
